{
  "bracketSpacing": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^ref",
    "^v-if",
    "^v-else",
    "^v-show",
    "^v-for",
    "^:?is$",
    "^@",
    "^:",
    "$DEFAULT",
    "^aria-",
    "^:?key$"
  ]
}
